</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      版本 {$config.version|default='v1.0.0'}
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="{$config.copyright_link|default='javascript:;'}" target="_blank" >{$config.copyright|default=''}</a>.</strong> All rights reserved.
  </footer>


  {include file="layout/control-sidebar" /}

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->


{include file="layout/js" /}
</body>
<script type="text/javascript">
  $(function(){ 
      my.init();
  }); 
</script>
</html>