 <style>
	 .content-box{
		width: 450px;
		height: 100px;
		/*border: 4px solid #F0FFFF;*/
		position: absolute;
		text-align: center;
		left:0;
		right:0;
		top: 0;
		bottom: 0;
		margin: auto;
		/*50%为自身尺寸的一半*/
		font-size: 45px;

		/*color: transparent;*/
		/*-webkit-text-stroke: 1px red;*/
		text-shadow: 5px 5px 5px black, 0px 0px 2px black; 
		color: white;
	 }
 </style>
 <div class="content-box">
 	{$config.name}<br />TP版本：{:app()->version()}
 	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1748331509&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1748331509:51" alt="点击这里给我发消息" title="点击与我联系"/></a>
 </div>