      
      <div class="callout callout-info">
        <h4>提示!</h4>

        <p>该系统正在建设中，后续将会发布一序列的 公共模块功能，敬请恭候.</p>
      </div>
      <div class="callout callout-danger">
        <h4>构建模块</h4>

        <p>承接开发项目、代挂网站、简历投放、公共的报表输入输出模块、定位打开模块、咨询浏览模块、社交模块、H5小游戏模块、常用办公模块（可提建议建设）等</p>
      </div>
      <div class="callout callout-success">
        <h4>加入我们</h4>

        <p>我们会对用户赋予部分后台权限，也可以联系管理员进行权限的附加，后台体验地址&nbsp;=> <a href="{:url('admin/index/index')}">进入后台</a>&nbsp;&nbsp;欢迎你的加入！</p>
      </div>
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">其他</h3>
        </div>
        <div class="box-body">
          如有需要，请与我联系。<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1748331509&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1748331509:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
        </div>
        <!-- /.box-body -->
      </div>
      
          


