html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.6
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
    margin: 0
}

a img, fieldset {
    border: 0
}

body {
    line-height: 1.6;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    color: #222;
    font-size: 14px
}

a {
    color: #576b95;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}
button, input, select, textarea {
    *font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif
}

.btn {
    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    *line-height: 28px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer
}
.btn:hover {
    text-decoration: none
}

.btn_primary {
    background-color: #44b549;
    background-image: -moz-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44b549), to(#44b549));
    background-image: -webkit-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: -o-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: linear-gradient(to bottom, #44b549 0, #44b549 100%);
    border-color: #44b549;
    color: #fff
}
.btn_primary button {
    color: #fff
}
.btn_primary:hover {
    background-color: #2f9833;
    background-image: -moz-linear-gradient(top, #2f9833 0, #2f9833 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f9833), to(#2f9833));
    background-image: -webkit-linear-gradient(top, #2f9833 0, #2f9833 100%);
    background-image: -o-linear-gradient(top, #2f9833 0, #2f9833 100%);
    background-image: linear-gradient(to bottom, #2f9833 0, #2f9833 100%);
    border-color: #2f9833;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #fff
}
.btn_primary:hover button {
    color: #fff
}

.btn {
    min-width: 60px
}


.mp_kind_mod_bd.old_mod .mp_kind_wrp {
    display: inline-block;
    _zoom: 1;
    _display: inline;
    width: 212px;
    margin: 0 59px;
    *float: left;
    height: auto;
    border: 0
}
.mp_kind_mod_bd.old_mod a.mp_kind_wrp:hover {
    text-decoration: none
}
.mp_kind_mod_bd.old_mod .mp_kind {
    color: #8d8d8d;
    padding: 0;
    height: auto
}
.mp_kind_mod_bd.old_mod .mp_kind dt {
    padding-top: 10px;
    color: #222;
    font-size: 16px;
    text-align: center;
    margin-bottom: 11px
}
.mp_kind_mod_bd.old_mod .mp_kind dd {
    margin-bottom: 3px;
    text-align: center
}
.mp_kind_mod_bd.old_mod .mp_kind dd.icon_mp_kind {
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 70px
}
.mp_kind_mod_bd.old_mod .icon_mp_kind {
    width: 106px;
    height: 106px;
    vertical-align: middle;
    display: inline-block;
    display: block;
    margin: 0 auto 30px
}

.icon_mp_kind {
    width: 86px;
    height: 86px;
    vertical-align: middle;
    display: inline-block;
    display: block;
    margin: 0 auto 20px
}

.mp_kind_mod_hd {
    padding-bottom: 20px;
    padding-top: 45px
}
.mp_kind_mod_hd h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 20px
}
.mp_kind_mod_bd {
    *zoom: 1;
    font-size: 0
}
.mp_kind_mod_bd:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}
.mp_kind_wrp {
    display: inline-block;
    vertical-align: top;
    width: 325px;
    height: 304px;
    margin-right: 10px;
    overflow: hidden;
    border: 1px solid #e7e7eb;
    position: relative;
    font-size: 14px
}
.mp_kind_wrp:hover {
    text-decoration: none
}
.mp_kind_wrp:hover .mp_option_box {
    display: block
}
.mp_kind_wrp:first-child {
    margin-right: 9px
}
.mp_kind_wrp:last-child {
    margin-right: 0
}
.mp_kind_box {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 304px
}
.mp_kind {
    color: #8d8d8d;
    padding: 40px;
    height: 224px;
    overflow: hidden
}
.mp_kind dt {
    color: #222;
    font-size: 16px;
    text-align: center;
    margin-bottom: 11px
}
.mp_kind dd {
    text-align: center
}
.mp_kind dd.icon_mp_kind {
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 70px
}
.mp_option_box {
    padding-top: 120px;
    text-align: center;
    color: #8d8d8d;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.98);
    display: none
}
.mp_option_box .mp_option_links {
    margin-top: 30px
}
.mp_option_box .mp_option_links a {
    padding: 0 6px
}

.mp_kind_wrp {
    width: 311px;
     height: 381px; 
}
.group{
    margin: 0 auto;
    width: 320px;
}

.app_img{
    width: 90px;
    height: 90px;
}
.api-head{
    width: 100%;
    height: 40px;
    border-top: 4px solid #44B549;
    margin-bottom: 25px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
.head-title{
    width: 80%;
    margin:0 auto;
}
.head-title img{
    float: left;
    width: 50px;
    height: 50px;
}
.head-title span{
    margin-left: 15px;
    font-size: 28px;
    float: left;
    color: #999;
}