<!-- 栅格 -->
    <div class="container">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          欢迎来访
          <small>版本 1.0</small>
        </h1>
        <ol class="breadcrumb">
          {$breadcrumb|default='<li><a href="#"><i class="fa fa-dashboard"></i>欢迎</a></li>'|raw}
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-10 col-sm-12 ">
            <!-- 文章部分 -->
             

