
<div class="login-box">
  <div class="login-logo">
    <a href="javascript:;"><b>{$config.name}</b>登录</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">请进行登录</p>

    <form action="" id='form' method="post">
      <div class="form-group has-feedback">
        <input type="name" name="username" class="form-control" placeholder="手机号 / 邮箱号" >
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="密码" >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback verifiy-div">
          <input class="form-control" name="verify" placeholder="验证码" type="text"  data-rule="验证码:required;verifiy" />
          <img src="{:captcha_src()}" alt="captcha" id="verify_img" />
      </div>

      <div class="form-group has-feedback">
        <button type="submit" class="btn btn-primary btn-block btn-flat" id="submit-btn" data-loading-text="正在登录中..." autocomplete="off">登录</button>
      </div>
      
      <div class="row" style="margin-top: -15px;">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" name="remember"> 记住我
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <a href="#">忘记密码</a>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <div class="social-auth-links text-center">
      <div class="row">
        <span class="col-xs-1"></span>
        <hr class="col-xs-3" style="height:1px;border:none;border-top:1px solid #ccc;width: 45px;" /> 
        <p class="col-xs-5" style="padding-top: 10px;">其他登录方式</p>
        <hr class="col-xs-3" style="height:1px;border:none;border-top:1px solid #ccc;width: 45px;" /> 
    </div>
      <div class="row" >
      <!-- <a href="#" class="btn btn-block btn-social btn-facebook btn-flat "><i class="fa fa-qq"></i>使用QQ快捷登录</a> -->
        <a href="{:url('qqlogin')}" class="col-xs-4">
          <img src="__STATIC__/module/common/img/qq.png" class="" alt="QQ登录" title="QQ登录">
        </a>
        <a href="{:url('wechatlogin')}" class="col-xs-4">
          <img src="__STATIC__/module/common/img/wechat.png" class="" alt="微信登录"  title="微信登录">
        </a>
        <a href="{:url('sinalogin')}" class="col-xs-4">
          <img src="__STATIC__/module/common/img/sina.png" class="" style="width:55px;margin-top: 4px;" alt="微博登录"  title="微博登录">
        </a>
      </div>
    </div>
    <!-- /.social-auth-links -->


  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="__JQ__/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="__BS__/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="__ICHECK__/icheck.min.js"></script>

<!-- layer -->
<script src="__LAYER__/layer.js"></script>
<!-- toastr -->
<script src="__LIBS__/toastr/build/toastr.min.js"></script>

<!-- 自定义 -->
<script src="__STATIC__/module/common/js/my.js"></script>

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
  function form_before(ele) {
    console.log(ele)
    var btn = $("#submit-btn").button('loading')
    setTimeout(function () {
        btn.button("reset");
    }, 3000)
  }
  //表单提交后
  function form_after(res) {
    if(res && res.code != 1){
        //失败！
        $('#verify_img').click();
    }
  }

  $("#verify_img").click(function(){
      var ts = Date.parse(new Date())/1000;
      this.src = "/captcha?time="+ts;
  });
</script>

