{include file="layout/top" /}


<!-- <div class="callout callout-success">
    <h4>提示!</h4>
    规则名称请仔细填写，包含大小写的区别
</div> -->
<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[id]" value="{$info.id}">
    <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-2"><font color="#FF0000">*</font>所属用户组:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control select2  col-xs-12 col-sm-2" name="row[group_id]" style="border-radius:0px;">
                {volist name="grouplist" id="vo"}
                    <option value="{$vo.id}" {eq name="info.group_id" value="$vo['id']" } selected="selected" {/eq} >&nbsp;&nbsp;{$vo.title}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="control-label col-xs-12 col-sm-2"><font color="#FF0000">*</font>姓名:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="name" name="row[name]" placeholder="" value="{$info.name}" data-rule="required|zh_cn" />
            <span class="help-block">中文</span>
        </div>
    </div>

    <div class="form-group">
        <label for="gender" class="control-label col-xs-12 col-sm-2"><font color="#FF0000">*</font>性别:</label>
        <div class="col-xs-12 col-sm-8">
            <label>
                <input type="radio" name="row[gender]" value="1" class="flat-red" {eq name="info.gender" value="1" } checked {/eq}>
                男
            </label>
            <label>
                <input type="radio" name="row[gender]" value="0" class="flat-red" {eq name="info.gender" value="0" } checked {/eq}>
                女
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="nickname" class="control-label col-xs-12 col-sm-2">昵称:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="nickname" name="row[nickname]" placeholder="" value="{$info.nickname}" data-rule="" />
        </div>
    </div>

    <div class="form-group">
        <label for="mobile" class="control-label col-xs-12 col-sm-2"><font color="#FF0000">*</font>手机号:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="mobile" name="row[mobile]" placeholder="" value="{$info.mobile}" data-rule="required|mobile" />
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">修改密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="password" name="row[password]" placeholder="" value="" data-rule="strong_pwd" />
            <span class="help-block">至少8位(包含大小写字母、数字和特殊符号)</span>
        </div>
    </div>


    <div class="form-group">
        <label for="email" class="control-label col-xs-12 col-sm-2"><font color="#FF0000">*</font>邮箱号:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="email" name="row[email]" placeholder="" value="{$info.email}" data-rule="required|email" />
        </div>
    </div>

    <div class="form-group">
        <label for="identity_card" class="control-label col-xs-12 col-sm-2">身份证:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="identity_card" name="row[identity_card]" placeholder="" value="{$info.identity_card}" data-rule="id_card" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2"><font color="#FF0000">*</font>用户状态:</label>
        <div class="col-xs-12 col-sm-8">
            <label>
                <input type="radio" name="row[status]" value="1" class="flat-red" {eq name="info.status" value="1" } checked {/eq}>
                正常
            </label>
            <label>
                <input type="radio" name="row[status]" value="0" class="flat-red" {eq name="info.status" value="0" } checked {/eq}>
                冻结
            </label>
        </div>
    </div>
    <div class="form-group">
        
    </div>
    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed ">确定</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div>
    </div>
</form>



<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

{include file="layout/js" /}


<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="__ICHECK__/all.css">
<!-- iCheck 1.0.1 -->
<script src="__ICHECK__/icheck.min.js"></script>
<!-- Select2 -->
<link rel="stylesheet" href="__LIBS__/select2/dist/css/select2.min.css">
<!-- Select2 -->
<script src="__LIBS__/select2/dist/js/select2.full.min.js"></script>

<script type="text/javascript">

    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();
    })
</script>
</body>
</html>